nav ul
{
  list-style: none;
  overflow: hidden;
  /* display: inline-block; */
  text-transform: capitalize;
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  margin-left: 34%;
  margin-top: 53px;
}
nav ul li
{
  float: left;
  margin-right: 77px;
}
.image-full
{
  width: 100%;
  height: 70vh;
  margin: 0;
  padding: 0;
}
.image-full img
{
  width: 100%;
  height: 100%;
}
.contact
{
  border: 2px solid #EEE;
  width: 50vw;
  margin: auto;
  margin-top: 30px;

}
.contact ul
{
  list-style: none;
  overflow: hidden;
  margin-left: -22px;
}
.contact ul li
{
  float: left;
  width: 33%;
}
.contact h1
{
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
}
form input
{
  display: block;
  width: 300px;
  border-radius: 6px;
  padding: 10px 20px;
  margin-left: 199px;
  border: 1px solid #EEE;
  margin-bottom: 10px;
}
.submit
{
  width: 100px;
  margin: auto;
  color: #FFF;
  background-color: #000;
  font-size: 18px;
  margin-bottom: 20px;
}
